VALKYRIEAI_BOT_TOKEN=
VALKYRIEMENU_BOT_TOKEN=
VALKYRIEGROUPMOD_BOT_TOKEN=
VALKYRIESELLERBUYER_BOT_TOKEN=
VALKYRIEPOSTER1249_BOT_TOKEN=
VALKYRIEWELCOME_BOT_TOKEN=
VALKYRIEMOTHER_BOT_TOKEN=
VALKYRIEGOODPERSON01_BOT_TOKEN=
BOT_OWNER_CHAT_ID=
ADMIN_GROUP_ID=
ADMIN_USER_IDS=
ADMIN_AUTO_MESSAGES=
DATABASE_URL=
BOT_ENCRYPTION_KEY=
BRIDGE_API_KEY=
DISCORD_BOT_TOKEN=
LOUNGE_GROUP_CHAT_ID=
FORCE_JOIN_CHAT_ID=
OLLAMA_BASE_URL=
OLLAMA_STANDALONE_KEY=
OLLAMA_API_KEY=
OPENROUTER_API_KEY=
DISCORD_WEBHOOK_URL=
RENDER_API_KEY=
