python-telegram-bot
aiogram
flask
python-dotenv
requests
psutil
aiohttp
beautifulsoup4
aiofiles
Pillow
psycopg2-binary
pycryptodome
discord.py
playwright
pyTelegramBotAPI
tempmail-python
playwright-stealth
